@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #18181B;
  --color-dark-2: #252525;

  --color-gray: #D9D9D9;
  --color-gray-2: #767676;
  --color-gray-3: #6B7280;
  --color-gray-4: #776E6E;

  --color-accent: #2563EB;

  --color-orange: #F8701B;

  --color-green: #00A625;

  --color-red: #D30B00;

  --color-light-cyan: #E4EEF8;

  --border: #{rem(1)} solid var(--color-gray);

  --font-family-base: 'Outfit', sans-serif;
  --font-family-accent: 'Playfair', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1440)};
  }
}